$blue1: #93d2f7;
$green1: #80D0C7;
$green2: #67dc7a;
$orange1: #FBAB7E;
$orange2: #F7CE68;
$orange3:  #ff8f25;
$purple:  #4f2ac3;
$hoverButton:  greenyellow;
$textShadow:  rgb(5, 8, 1);
$red1:  #FF9A8B;
$pink1:#FF6A88; 
$pink2:  #FF99AC;
$yellow1:  #FFE53B;


$textColor: #fff;
$secondaryTextColor: #000;
