@use 'hero';
@use 'components/infos_bar';
@use 'components/buttons';
@use 'event';
@use 'backend';
@use 'ux';
@use 'data_Science';
@use 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    color: variables.$textColor;
    list-style: none;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    

    @media (max-width: 640px) {
        max-width: 80%;
    }

    @media (max-width: 1024px) {
        max-width: 90%;
    }
}

.footer {
    color: #000;
    text-align: center;
    justify-content: center;
    padding: 10px;
    background-color: variables.$red1;
    background-image: linear-gradient(90deg, variables.$red1 0%, variables.$pink1 55%, variables.$pink2 100%);

    @media (max-width: 640px) {
        font-size: 14px;
    }
}

